.Components {
  width: 50%;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  background-color:  #82a6ee;  
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
}

.search-text {
  width: 30%;
  padding: 10px;
  font-size: 15px;
  top: 50%;
  left: 50%;
}
.search-button {
  width: 30%;
  padding: 10px;
  font-size: 15px;
  top: 50%;
  left: 50%;
}
