html {
  background-color: #82a6ee;
  height: 100%;
}

body {
  justify-content: center;
  align-items: center;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
}

.searchBtn {
  font-size: 15px;
  text-align: center;
  padding: 1%;
}

.results {
  display: flex;
}

.header {
  text-align: center;
  font-size: 30px;
  margin-top: 7%;
}

.flexbox-container {
  display: flex;
  width: 70%;
  height: 700px;
  margin-top: 5%;
  justify-content: space-between;
  border: solid 6px black;
  margin: auto
}

.flexbox-item1 {
  flex: 1;
  min-width: 0;
  min-height: 0;
  border: solid 3px blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-item2 {
  flex: 2;
  min-width: 0;
  min-height: 0;
  max-height: 100%;
  padding: 10px;
  border: solid 3px red;
}
