body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  height: 100%;
}

body {
  justify-content: center;
  align-items: center;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
}

.searchBtn {
  font-size: 15px;
  text-align: center;
  padding: 1%;
}

.results {
  display: flex;
}

.header {
  text-align: center;
  font-size: 30px;
  margin-top: 7%;
}

.container {
  display: flex;
  width: 70%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item1 {
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.poster {
  border-radius: 1.2rem;
  filter: drop-shadow(15px 15px 15px black);
}

.item2 {
  flex: 1;
  min-width: 50%;
  padding: 10px;
  align-items: center;
  margin-left: 2%;
}

.movie-title {
  font-size: 22px;
  text-align: center;
}

hr.solidLine {
  border-top: 1px solid black;
}

hr.solidLineEnd {
  border-top: 1px solid black;
  width: 70%;
  margin-top: 5%;
  margin: auto;
  margin-bottom: 2%;
}

.genres,
.openIn {
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
}

a {
  display: flex;
  justify-content: center;
}

.imdblogo {
  width: 60px;
  height: 30px;
  padding-left: 5px;
}

.rottentomatoeslogo {
  width: 60px;
  height: 30px;
  padding-left: 5px;
}

.rottentomatoeslogo {
  width: 60px;
  height: 30px;
  padding-left: 5px;
}

.fmovieslogo {
  width: 70px;
  height: 30px;
  padding-left: 15px;
  padding-right: 25px;
}

.teniesonlinelogo {
  width: 110px;
  height: 30px;
  padding-left: 5px;
}

.watchmovieshdlogo {
  width: 110px;
  height: 30px;  
}

.nextMovie {
  background-color: darkcyan;
  border: none;
  color: white;
  padding: 15px 32px;
  align-items: center;
  text-align: center;
  font-size: 16px;
  border-radius: 0.5rem;
  margin: 0 auto;
  display: block;
}

.nextMovie:hover {
  color: white;
  background-color: rgb(1, 149, 149);
  cursor: pointer;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.imdbButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f5c518;
  color: #000000;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
  border-color: #000000;
  border: 1.2px solid black;
  width: 170px;
}
.rottentomatoesButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: #000000;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
  border-color: #000000;
  border: 1.2px solid black;
  width: 170px;
  color: white;
}

.fmoviesButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #00acc1;
  color: #000000;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
  border: 1.2px solid black;
}

.teniesOnlineButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #33BCFF;
  color: #000000;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
  border: 1.2px solid black;
}

.watchMoviesHDButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #FDD92A;
  color: #000000;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
  border: 1.2px solid black;
}

 .fmoviesButton, .teniesOnlineButton, .watchMoviesHDButton {
  display: inline-flex;
  align-items: left;
  justify-content: space-evenly;
  color: #000000;
  text-decoration: none;
  padding: 8px 2px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
  border: 1.2px solid black;
  width:200px;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer:hover {
  color: #0077b5;
}

.footer span {
  margin-right: 0.5rem;
}